
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image { 
  position: relative; 
  width: 100%;
}

.logo {
  height: 50px;
  width: 50px;
}

Form span{
  position: absolute; 
  top: 50%; 
  left: 25%; 
  width: 50%;
}

.custom-container{
  background-image: url(./images/MarioKartBanner.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 65%;
}

.spacer-div{
  height: 50px;
}
.column-container {
  justify-content: space-evenly;
}

.column-content1 {
  justify-content: center;
  text-align: center;
  border-right: 2px dotted;
}

.column-content2 {
  justify-content: center;
  text-align: center;
}

.footer {
  background: turquoise;
  padding: 8em 0;
  color: black;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
